.button {
    top: 50%;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(255, 0, 220);
}
    .button:hover {
        background-color: rgb(255, 0, 220);
        transition: 0.3s;
    }
    .button:active {
        background-color: yellow;
    }

.backMain {
    top: 50%;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(255, 0, 220);
}

    .backMain:hover {
        background-color: rgb(255, 0, 220);
        transition: 0.3s;
    }

    .backMain:active {
        background-color: yellow;
    }
.come {
    top: 50%;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(255, 0, 220);
}

    .come:hover {
        background-color: rgb(255, 0, 220);
        transition: 0.3s;
    }

    .come:active {
        background-color: yellow;
    }