
.eng {
    background-color:slategrey; /* Цвет фона */
    color: black;
}

.rus {
    background-color: slategrey; /* Цвет фона */
    color: black;
}

.elemForm {
    background-color: slategrey; /* Цвет фона */
    color: black;
}
.input {
    background-color: slategrey; /* Цвет фона */
    color: black;
}