
            a:link
            {
             color:black;
             text-decoration:none
            }
            a:visited
            {
             color:green; 
             text-decoration:none
            }
            a:active
            {
             color:red; 
             text-decoration:underline
            }


            h1
            { 
                  text-align: center 
            }

            .go{
                text-align: center 
            }

            

            body{
                background-color:dimgray;
            }
